body {
    margin: auto;
    width: 1000px;
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
/* Adds styling to body and chooses Arial, Helvetica font family */

.container {
    background-color: #d4eae9;
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 10px;
}

h1 {
    position: absolute;
    color: white;
    font-size: 50px;
    font-weight: 50;
    padding-left: 310px;
    top: 140px;

}

header img {
    display: block;
    width: 100%;
    padding: 0;
}


h2 {
    font-size: 35px;
}


nav ul {
    display: grid;
    grid-template-columns: auto auto auto;
    list-style-type: none;

}

a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 500;
    }


nav ul li {
    margin: 0;
    display: inline;
    text-align: center;
    text-transform: uppercase;
    padding-top: 0;
    padding-left: 120px;
    padding-right: 80px;
    
}

.vertical_line {
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.body-image {
    float: left;
    max-width: 28%;
    max-height: 28%;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
    padding: 5px;
   
}

.container-main-content {
    padding: 2.5%;
}

.form {
    border: 2px solid;
    width: 100%;
    padding: 10px 15px;
    margin: 9px 0;
    box-sizing: border-box;
}

.contact-form {
    display: block;
}

.textarea {
    width: 100%;
    resize: none;
    outline: #949a9a;
}

.form_spacing {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button {
    border: 1px solid;
    text-align: right;
    font-weight: 550;
    background-color:#d4eae9;
    text-transform: uppercase;
    padding: 0.5rem;
    margin-top: 1.5em;
}

footer {
    text-align: right;
    font-weight: 550;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 25px;
}


