body {
    margin: auto;
    width: 1000px;
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
/* Adds styling to body and chooses Arial, Helvetica font family */

.container {
    background-color: #d4eae9;
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 10px;
}
/* Adds a container with padding, colour, and max-width */

h1 {
    position: absolute;
    color: white;
    font-size: 50px;
    font-weight: 50;
    padding-left: 310px;
    top: 140px;

}
/* Moves the h1 onto the banner, changes text colour, and adds padding */

header img {
    display: block;
    width: 100%;
    padding: 0;
}
/* Adjusts width of banner to 100% of the page */

h2 {
    font-size: 35px;
}
/* Adjusts font-size of h2 */


nav ul {
    display: grid;
    grid-template-columns: auto auto auto;
    list-style-type: none;

}
/* Adds nav grid and fixes template */

a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 500;
}
/* Adjusts text appearance for nav a */


nav ul li {
    margin: 0;
    display: inline;
    text-align: center;
    text-transform: uppercase;
    padding-top: 0;
    padding-left: 120px;
    padding-right: 80px;
}
/* Fixes nav display to inline, text centred, and appropriate padding */

.vertical_line {
    border-right: 2px solid black;
    border-left: 2px solid black;
}
/* Adds vertical lines to separate nav buttons */

.body-image {
    float: left;
    max-width: 28%;
    max-height: 28%;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
    padding: 5px;
}
/* Adds body image and resizes it, applies float, and adds margins and padding */

.container-main-content {
    padding: 2.5%;
}
/* Adds padding to the page's main content */

.form {
    border: 2px solid;
    width: 100%;
    padding: 10px 15px;
    margin: 9px 0;
    box-sizing: border-box;
}
/* Adjusts form's appearance appropriate to the page */

.contact-form {
    display: block;
    margin-top: 12px;
}
/* Displays "Contact Us" section's text area and title in block form */

.textarea {
    width: 98%;
    resize: none;
    padding: 1%;
    margin-right: 7px;
    border: 2px solid #c5caca;
}
/* Adjusts size of text area and the outline */

.form_spacing {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* Fixes form spacing in the contact section and adds more space between radio buttons and send button */

button {
    border: 1px solid;
    text-align: right;
    font-weight: 550;
    background-color:#d4eae9;
    text-transform: uppercase;
    padding: 0.5rem;
    margin-top: 1.5em;
}
/* Designs button and gives it space between itself and other features/elements */

footer {
    text-align: right;
    font-weight: 550;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 25px;
}
/* Arranges footer to the right, and adds padding around it for ideal placement */


