/****************************************************
                    Custom Styles
*****************************************************/
/*******************Global Styles********************/
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

*, 
*:after, 
*:before {
    box-sizing: inherit;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* Adjust image size to 100% */
img {
    width: 100%;
}

/* loVe HAte - Link, Visited, Hover/Focus, Active */
a, 
a:link,
a:visited {
    /* Will inherit colour from parent */
    color:inherit
}

a:hover,
a:focus {
    color: #00add8;
}

h1,
h2,
h3,
h4,
h5 { 
    font-weight: bold;
    /* 1 em on top, 0 em for left and right, and 1.5 em on the bottom */
    margin: 1em 0 0.5em;
}

/* To ensure fotn sizes are proportionate  */
/* https://www.modularscale.com */
h1 {
    font-size: 5.063rem;
}

h2 {
    font-size: 3.375rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

p {
    /* 1 em on top and bottom, 0 on left and right */
    margin: 1em 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* margin 0 auto to centre */
    padding: 1em
}
/*******************HEADER***********************/
.mobile-logo {
    max-width: 150px;
}

.desktop-logo {
    display: none;
}

.banner {
    height: 600px;
    /* gives image a fixed height */
    background: grey url(../images/smog-mobile.jpg) no-repeat center bottom;
    /* background colour, calls image by going into images folder, tells it not to repeat, and places it */
    background-size: cover;
}

.banner h1 {
    margin: 0;
    padding-top: 250px;
    text-align: center;
    text-transform: uppercase;
}
/*****************NAVIGATION************************/
.nav-list li {
    border-bottom: 1px solid grey;
    text-align: center;
}

/* LoVe HAte */
.nav-list a,
.nav-list a:link,
.nav-list a:visited {
    display: block;
    padding: 1em 0;
    text-decoration: none;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current {
    background-color: #00add8;
    color: inherit;
}

.btn {
    /* styling the button */
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    border: 1px solid #00add8;
    /* when adding a border make sure to add */
    color: inherit;
    border-radius: 8px;
}
.btn:hover,
.btn:focus {
    background-color: #00add8;
    color: inherit;
}

/*******************ACTION SECTION*************************/

.actions-list {
    display: flex;
    flex-flow: row wrap;
}

.actions-list li {
    max-width: 50%;
    padding: 1em;
    text-align: center;
    font-size: 1.5rem;
}
/*******************FOOTER STYLES***************************/
.site-footer {
    margin-top: 20px;
    padding: 20px 0;
    border-top: 2px solid #00add8;
}

.copy {
    text-align: right;
}

/***************************************************
        DESKTOP STYLES
***************************************************/
@media screen and (min-width:600px) {
    html { 
        font-size: 16px;
    }
    /* brings back mobile logo, sets display to none */
    .mobile-logo{
        display: none;
    }
    /* brings back desktop logo, sets display to inline=block */
    .desktop-logo {
        display: inline-block;
        max-width: 300px
    }
    .banner{
        background-image: url(../images/smog-desktop.jpg);
    }
    .banner h1 {
        color: white;
    }
    /******************NAVIGATION*******************/
    .nav-list {
        display: flex;
    }
    .nav-list li {
        flex: 1;
        border: none;
        border-right: 1px solid grey;

    }

    .nav-list li:last-child {
        border:none;
    }
    /*****************APP SECTION*******************/
    .app img {
        width: 40%;
        float: left;
        margin-right: 1em;
    }

    .app .btn {
        float: right;
    }
  
}  

/*************************************************
                MEDIA QUERY 800px
*************************************************/

@media screen and (min-width:800px) {
    .actions-list li {
        max-width: 20%;
    }
}
